### CLOUDGENIX_AUTH_TOKEN  Required for authentication. ###
CLOUDGENIX_AUTH_TOKEN = "<large static token string here>"


### Tweaks to event processing.
## URL patterns to ignore for AUDIT events
AUDIT_EVENT_IGNORE = [
    '^\/v.\..\/api\/tenants\/(.*)\/topology$',
    '^\/v.\..\/api\/tenants\/(.*)\/monitor/(metrics|flows|object_stats)$',
    '^\/v.\..\/api\/tenants\/(.*)\/events/query$',
]

## Alarm event codes to ignore
ALARM_EVENT_IGNORE = [
    'APPLICATION_APP_UNREACHABLE'
]

## Alert event codes to ignore
ALERT_EVENT_IGNORE = [
    'APPLICATION_IP_COLLISION'
]
